<mat-card
  style="text-align: center; padding: 10px; max-width: 800px; max-height: auto"
>
  <mat-card-title style="margin: 10px; font-weight: bold; font-size: 32px">
    {{ data.Name }}
  </mat-card-title>
  <mat-card-content style="font-size: 20px; margin: 5px">
    {{ data.Bio }}
  </mat-card-content>
  <mat-card-content style="font-size: 20px; margin: 5px">
    Born in: {{ data.Birthyear }}
  </mat-card-content>
  <mat-card-actions style="justify-content: right">
    <button
      mat-raised-button
      color="primary"
      mat-dialog-close
      style="margin: 20px"
    >
      Close
    </button>
  </mat-card-actions>
</mat-card>
