<div class="main-page">
  <h3>Welcome to</h3>
  <h1>
    <mat-icon>theaters</mat-icon><mat-icon>theaters</mat-icon
    ><mat-icon>theaters</mat-icon>myFlix<mat-icon>theaters</mat-icon
    ><mat-icon>theaters</mat-icon><mat-icon>theaters</mat-icon>
  </h1>
  <div class="button-container">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      color="primary"
    >
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
      Login
    </button>
  </div>
</div>
