<mat-toolbar
  class="mat-elevation-z4"
  *ngIf="isLoggedIn"
  style="
    margin-bottom: 20px;
    background-color: DarkSlateBlue;
    color: Gainsboro;
    font-size: 20px;
    position: sticky;
    padding: 25px;
    top: 0;
    z-index: 1000;
  "
>
  <span style="font-size: 24px; font-weight: bold"
    ><mat-icon>theaters</mat-icon>myFlix</span
  >
  <div class="spacer"></div>
  <!-- This fills the remaining space of the current row -->
  <a mat-button (click)="openMovie()">Home</a>
  <a mat-button (click)="openProfile()">User profile</a>
  <a mat-raised-button (click)="logoutUser()">Logout</a>
</mat-toolbar>
