.custom-card {
  width: 300px; /* Adjust the width as needed */
  margin: 8px; /* Adjust spacing between cards */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  border-radius: 2%;
  font-size: 18px;
}

.custom-image {
  width: 100%; /* Full width within the card */
  height: 450px; /* Maintain aspect ratio */
}

/* Add this media query to your styles (or stylesheet) */
@media screen and (max-width: 512px) {
  .custom-card {
    width: 80%; /* Adjust the width as needed */
    margin: 0 0 20px 0; /* Adjust the margin as needed */
  }
}