<app-navbar></app-navbar>

<div class="profile-page" style="margin: 100px">
  <div class="profile-container">
    <div class="info-container">
      <div class="info">
        <h1>Profile</h1>
        <p>
          Username: <b>{{ userData.Username }}</b>
        </p>
        <p>
          Birthday: <b>{{ userData.Birthday | date : "MM/dd/yyyy" }}</b>
        </p>
        <p>
          Email: <b>{{ userData.Email }}</b>
        </p>
        <form>
          <hr class="separator" />

          <h1>Update Profile</h1>

          <mat-form-field class="user">
            <mat-label>Username</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Username"
              type="text"
              name="username"
            />
          </mat-form-field>

          <mat-form-field class="pwd">
            <mat-label>Password</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Password"
              type="password"
              name="password"
              autocomplete="new-password"
              required
            />
          </mat-form-field>

          <mat-form-field class="mail">
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Email"
              type="email"
              name="email"
            />
          </mat-form-field>

          <mat-form-field class="bdy">
            <mat-label>Birthday</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Birthday"
              type="date"
              name="Birthday"
            />
          </mat-form-field>
          <br />
          <mat-card-actions class="action-btn">
            <button
              class="update-btn"
              style="
                background-color: DarkSlateBlue;
                margin-right: 5px;
                color: white;
              "
              mat-raised-button
              (click)="updateUser()"
            >
              Update
            </button>
            <span class="spacer"></span>
            <button
              class="delete-icon"
              mat-raised-button
              color="warn"
              (click)="deleteUser()"
            >
              Delete user
            </button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </div>
  <hr class="separator" />

  <h2>Favorite Movies</h2>
  <div *ngIf="FavouriteMovies.length === 0">
    <p>No favorites.</p>
  </div>

  <div style="display: flex; justify-content: center; flex-wrap: wrap">
    <mat-card *ngFor="let movie of FavouriteMovies" class="custom-card">
      <mat-card-header style="color: SteelBlue">
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>
          Directed by: {{ movie.Director.Name }}
        </mat-card-subtitle>
      </mat-card-header>
      <img
        src="{{ movie.ImageURL }}"
        alt="{{ movie.Title }}"
        class="custom-image"
      />
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          style="width: 100%"
          (click)="removeFavoriteMovie(movie._id)"
        >
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
